{% extends 'base.html.twig' %}

{% block content %}
    {{ form_start(form, {'action': path('password'), 'method': 'POST'}) }}
        {{ form_row(form.special_symbols) }}
        {{ form_row(form.numbers) }}
        {{ form_row(form.length) }}
        {{ form_row(form.submit) }}
    {{ form_end(form) }}

    {% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }}">{{ message }}</div>
        {% endfor %}
    {% endfor %}
{% endblock %}
